body{
    color:rgb(16, 143, 101) ;
    background: rgb(10, 0, 0);
    font-family: "Matemasie", sans-serif;
    margin: 0px;
}

header {
    border: solid 2px rgb(146, 14, 14);

    padding: 20px;

    font-size: 32px;

    color:aqua;
    
}

.chamada{
    background:purple  ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}

.categoria-videos{
    width: 1920px;
}

.primeiro-video{
    padding: 20px;    
}